{% extends "base.jinja" %}

{% block title %}News{% endblock %}

{% block main %}
<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">API integrations</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{{ url_for('news') }}">News</a>
        <a class="nav-link active" aria-current="page" href="{{ url_for('chatgpt') }}">ChatGPT</a>
      </div>
    </div>
  </div>
</nav>

<ul>
    <li><a href="{{ url_for('news_top_headlines') }}">Top Headlines</a></li>
    <li><a href="{{ url_for('search_form') }}">Search</a></li>
</ul>
{% endblock %}